@import "tailwindcss";

body,
html {
  background-color: #fafafa;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
}

.hidden-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}